%p#notice= notice

%p
  %b first name:
  = @pokemon_trainer.first_name
%p
  %b last name:
  = @pokemon_trainer.last_name
%p
  %b region:
  = @pokemon_trainer.region
%p
  %b id_number:
  = @pokemon_trainer.id_number
%p
  %b level:
  = @pokemon_trainer.level

= link_to 'Edit', edit_pokemon_trainer_path(@pokemon_trainer)
\|
= link_to 'Back', pokemon_trainers_path
